* {
  margin: 0;
  padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}

body {
	font-family: 'Raleway', sans-serif;
	background: #dde1e7;
}

.container {
	width: 500px;
	margin: 50px auto;
}

.tabs {
	width: 500px;
	font-size: 0;
}

.tabs li {	
	display: inline-block;
	width: 250px;
}

.tabs li a {
	display: block;
	text-align: center;	
	padding: 10px 0;
	font-size: 16px;
	font-weight: 600;
	color: #ffffff;

	background: #bbbec4;
  box-shadow: -3px -3px 7px #ffffff73, 
							2px 2px 5px rgba(94, 104, 121, 0.288);

	position: relative;
	transform: translateY(3px);
  transition: all 0.3s ease-in-out;
}

.tabs li:first-child a {
   border-top-left-radius: 8px;
}

.tabs li:last-child a {
border-top-right-radius: 8px;
}

ul.tabs li a:hover {
	transform: translateY(1px);
	background: #a4a6ac;
	transition: all 0.3s ease-in-out;
}

ul.tabs li a.active {
	transform: translateY(1px);
	color: #595959;
	background: #dde1e7;
	box-shadow: -3px -3px 7px #ffffff73,2px 2px 5px #5e68794d;
	transition: all 0.3s ease-in-out;
}

.tabs li:last-child a.active {
box-shadow: 0px -3px 5px #ffffff70,
2px 2px 5px #5e68794d,
-3px 0px 5px #5e68794d;
}

.content {
	position: relative;
	z-index: 5;
	height: auto;
	color: #595959;
  background: #dde1e7;
	box-shadow: -3px 0px 7px #ffffff73, 
	            2px 2px 5px rgba(94, 104, 121, 0.288);
  border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	padding: 50px;
}

.content .text {
  font-size: 32px;
  font-weight: 200;
  margin-bottom: 50px;
}

.content .field {
  height: 50px;
  width: 100%;
	position: relative;
  margin-bottom: 40px;
  
}

.field input {
  font-family: 'Raleway', sans-serif;
  height: 100%;
	width: 100%;	
  padding-left: 50px;
  font-size: 18px;
  outline: none;
  border: none;
  color: #595959;
  background: #dde1e7;
  border-radius: 25px;
	box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #ffffff73;
	display: block;
}


.validate_txt{
  display: none;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 600;
  color: #f77a04;
}

.field.error .validate_txt{
  display: block;
}

.field input:focus ~ label {
  box-shadow: inset 2px 2px 5px #babecc, inset -1px -1px 2px #ffffff73;
}

.field span {
	position: absolute;
	left: 15px;
  line-height: 50px;
  color: #595959;
}

.field label {
  position: absolute;
  top: 50%;
  left: 45px;
  pointer-events: none;
  color: #666666;
  transform: translateY(-50%);
}

.field input:focus ~ label {
  opacity: 0;
}



.forgot-pass {
  text-align: left;
  margin: 10px 0 10px 5px;
}

.forgot-pass a {
  font-size: 16px;
  color: #3498db;
  text-decoration: none;
}

.forgot-pass:hover a {
  text-decoration: underline;
}

button {
  margin: 15px 0;
  width: 100%;
  height: 50px;
  color: #000;
  font-size: 18px;
  font-weight: 600;
  background: #dde1e7;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 25px;
  box-shadow: 2px 2px 5px #babecc, -5px -5px 10px #ffffff73;
}

button:focus {
  color: #3498db;
  box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #ffffff73;
}

.sign-up {
  font-size: 16px;
  color: #595959;
  margin: 10px 0;
}

.sign-up a {
	color: #3498db;
	font-weight: 700;
  text-decoration: none;
}

.sign-up a:hover {
  text-decoration: underline;
}

.contentNone{
	display: none;
}

.agree {
  text-align: left;
	margin: 10px 0 10px 5px;
	font-size: 16px;
	line-height: 1.5em;
}


.swal-button {
  height: 50px;
  border-radius: 25px;
  border: none;
  background: #dde1e7;
  font-size: 18px;
  margin: 15px 0;
  color: #000;
  box-shadow: 2px 2px 5px #babecc, -5px -5px 10px #ffffff73;
}

.swal-button:focus {
  border: none;
  outline: none;
  box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #ffffff73;
}

